<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About C3Value</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>C3Value is a leading CCCV advisory venture that helps your OC transform into a successful Manufaktur.</p>
      </div>
      <div class="col-md-4">
        <p>Whether you’re an angel looking to start your own OC, a team lead looking to navigate the difficult waters of the Chaos ecosystem, or need help arring your OC’s IPO while maximizing returns and an emphasis on long-term value, C3Value got you covered!</p>
      </div>
      <div class="col-md-4">
        <p>Looking back at over 40 years of combined experience and with a strong focus on success, our experts at C3Value are your perfect match for any complex and chaotic project.</p>
      </div>
    </div>
  </div>
</section>
