<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About C3Value</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>C3Value is a leading CCCV advisory venture that helps your OC transform into a successful Manufaktur with an emphasis on chaos and long-term value. With our proven approach you won't leave your team behind and have automatic buy-in from all relevant stakeholders.</p>
      </div>
      <div class="col-md-4">
        <p>Whether you’re an angel looking to start your own OC, a team lead looking to navigate the difficult waters of the Chaos ecosystem, or need help arranging your OC’s IPO while maximizing returns, C3Value got you covered!</p>
      </div>
      <div class="col-md-4">
        <p>Looking back at over 40 years of combined experience in new work consulting and with a strong focus on success, fruit baskets and free coffee, our experts at C3Value are your perfect match for any complex and chaotic project.</p>
      </div>
    </div>
  </div>
</section>
